.git
.gitignore
ml_env
__pycache__
*.pyc
*.pyo
*.pyd
*.ipynb
*.zip
*.tar
*.tar.gz
*.log
.env
forensic_faces_model
Realistic_Vision_V5.1_fp16-no-ema.safetensors
gfpgan/weights/*.pth
Miniconda3-latest-Linux-x86_64.sh
generated_faces
temp_*
node_modules
frontend/client/node_modules
frontend/server/node_modules
